* {
    margin: 0;
    padding: 0;
}
.card-container {
    width: 280px;
    height: 440px;
    margin: 30px;
    display: inline;
    border: 1px solid rgb(246, 242, 242);
    border-radius: 10px;
    margin-top: 20px;
}
.card-container:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.card-image {
    width: 230px;
    height: 250px;
    margin-top: 10px;
    margin-left: 10px;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card-cetagory {
    color: rgb(220, 212, 212);
    font-size: 17px;
    height:auto;
    margin-top: auto;
    margin-left: 10px;
}
.card-quantity{
    color: rgb(124, 120, 120);
    font-size: 18px;
    height:22px;
    margin-top: 10px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.card-titel {
    color: rgb(59, 55, 55);
    overflow: hidden;
    font-size: 17px;
    font-weight: 600;
    height: auto;
    margin-top: 10px;
    margin-left: 10px;
}
.card-price {
    color: rgb(74, 28, 202);
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
    margin-top: auto;
    height:25px;
}
.card-cart {
    color: rgb(245, 237, 237);
    width: 150px;
    height: 30px;
    background-color: rgb(7, 7, 7);
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 16px;
    margin-left: 100px;
}
.card-cart:hover{
    color:  rgb(245, 237, 237);
    background-color: rgb(63, 63, 65);
    border: 4px solid rgb(63, 63, 65);
}