.box {
    height: 800px;
    width: 100%;
}
.card-box {
    height: 780px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: rgb(64, 61, 61);
}
.img-box {
    height: 750px;
    width: 50%;
    margin: 30px;
    padding: 35px;
}
.card-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.img-box:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }
.card-detail {
    height: 750px;
    width: 50%;
    margin: 30px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    color: rgb(245, 238, 238);
}
.card-detail:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }
.titel-box {
    height: auto;
    width: 80%;
    color: whitesmoke;
    font-size: 35px;
    font-weight: 500;
}
.cetagory-box{
    height: auto;
    width: 80%;
    color: rgb(186, 178, 178);
    margin-top: 10px;
    font-size: 23px;
    font-weight: 200;
}
.price-box {
    height: auto;
    width: 80%;
    color: rgb(78, 28, 195);
    margin-top: 10px;
    font-size: 30px;
    font-weight: 400;
    text-decoration: underline;
}
.quantity-box{
    margin-top: 12px;
    font-size: 18px;
    color: rgb(122, 122, 122);
}
.desc-box {
    height: auto;
    width: 80%;
    margin-top: 20px;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 200;
}
.cart-box {
    color:whitesmoke;
    background-color: rgb(29, 29, 193);
    font-size: 23px;
    font-weight: 400;
    margin-top: 80px;
    height: 40px;
    text-align: center;
    align-content: center;
    width: 150px;
    border-radius: 10px;
}
.cart-box:hover{
    background-color: rgb(66, 66, 199);
}

@media only screen and (max-width: 1023px) {
.box {
    height: 100%;
    width: 100%;
}
.card-box{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(64, 61, 61);
}
.img-box {
    height: 50vh;
    width: 100%;
    margin: 10px;
    padding: 6px;
}
.card-detail {
    height: 50vh;
    width: 100%;
    margin: 10px;
    padding: 6px;
}
.titel-box {
    font-size: 22px;
    font-weight: 500;
}
.desc-box{
    margin-top: 6px;
    font-size: 12px;
}
.quantity-box{
    margin-top: 12px;
    font-size: 12px;
}
.price-box {
    margin-top: 6px;
    font-size: 18px;
}
.cart-box {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10%;
    height: 30px;
    width: 90%;
    border-radius: 10px;
}


}