* {
    margin: 0;
    padding: 0;
}
.container {
    width: 280px;
    height: 430px;
    margin: 30px;
    display: inline-block;
}
.card-container {
    width: 280px;
    height: 420px;
    border: 1px solid rgb(225, 218, 218);
    border-radius: 20px;
    margin-top: 20px;
}
.card-image {
    width: 260px;
    height: 200px;
    margin-top: 10px;
    margin-left: 10px;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-cetagory {
    color: rgb(60, 54, 54);
    font-size: 22px;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
}
.card-titel {
    color: rgb(59, 55, 55);
    font-size: 20px;
    font-weight: 200;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
}

.card-price {
    color: rgb(59, 55, 55);
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
    height: 30px;
    margin-top: 5px;
}
.card-cart {
    color: white;
    background-color: rgb(27, 25, 25);
    font-size: 16px;
    font-weight: 200;
    margin-top: 10px;
    height: 40px;
    text-align: center;
    align-content: center;
    margin-left: 100px;
    width: 150px;
    border-radius: 10px;
}